/* transaction management css */
.w-100 {
    width: 65%!important;
}
table tr{
    font-size: 15px;
}
/* user details css */
#updateAddress1 .btn-info.disabled,
.btn-info:disabled {
    color: #fff;
    background-color: #191b24 !important;
    border-color: #191b24;
    opacity: 1;
}
#updateAddress1 .btn-info.disabled:hover,
.btn-info:disabled:hover {
    color: #fff;
    background-color: #e0a354 !important;
    border-color: #e0a354;
}
.mt40{
    margin-top: 10px !important;
}

#updateAddress1 .close {
    position: relative;
    z-index: 99;
    margin-right: 7px;
    font-size: 36px;
}

.hot-coldpopup input {
    height: 40px;
    border: 1px solid #d4d4d4;
    padding: 0px 10px;
    font-size: 14px;
}
.hot-coldpopup label {
    margin-bottom: 0px;
    margin-right: 10px;
}
.hot-coldpopup {
    display: flex;
    align-items: center;
    justify-content: center;
}

.hot-coldpopup span.error {
    position: absolute;
    top: 38px;
    left: 36%;
}
img{
  width: 130px;
  height: 130px;
}
.add-store-block label.col-md-5 {
    font-weight: 3;
}
.fa-eye{
    font-size: 20px;
}
.user-main-head{
    margin: 9px 0px;
}
.w-10{
    width: 158px;
    margin-left: 49px;
}
.padd_6{
  padding: 6%;
}
label.col-md-6 {
    font-weight: 10;
}
.mb40{
    margin-bottom: 0px;
}
.sec_head_new_after:after {
    position: absolute;
    content: 'Filter by';
    top: -10px;
    background: #fff;
    padding-left: 0px;
    padding-right: 10px;
    font-size: 15px;
}
.pad-0-ml {
    padding: 0 !important;
    margin-left:5px
}

.pad-0 {
    padding : 0 !important
}
