<section>
    <div class="container1440 mt-5">
        <main class="middle-content" style="overflow-y: scroll; height: -webkit-fill-available;">
            <div class="content-section">

                <!-- <div class="page_title_block pL0 pR0">
                    <h1 class="page_title" style="color:#26272d">VIEW USER TRADING DETAIL</h1>
                </div> -->
                <div class="order-view mt30 mrgn-0-auto">

                    <div>
                        <div class="form-group row">
                            <label for="Fname" class="col-sm-2 col-form-label">Supplier Name :</label>
                            <div class="col-sm-4">
                                <label for="Fname" class="col-form-label">Arihant</label>
                            </div>
                            <label for="Lname" class="col-sm-2 col-form-label">Material :</label>
                            <div class="col-sm-4">
                                <label for="Fname" class="col-form-label">Iron Rods 20mm</label>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="Mobile" class="col-sm-2 col-form-label">Weight :</label>
                            <div class="col-sm-4">
                                <label for="Fname" class="col-form-label">23 tn</label>
                            </div>
                            <label for="email" class="col-sm-2 col-form-label">Quote Date :</label>
                            <div class="col-sm-4">
                                <label for="Fname" class="col-form-label">12 Dec 2020</label>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="Fname" class="col-sm-2 col-form-label">Amount :</label>
                            <div class="col-sm-4">
                                <label for="Fname" class="col-form-label">Rs. 2,50,000</label>
                            </div>
                            <label for="Lname" class="col-sm-2 col-form-label">Drop Site :</label>
                            <div class="col-sm-4">
                                <label for="Fname" class="col-form-label">L&T Manesar</label>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="Fname" class="col-sm-2 col-form-label">PO Number :</label>
                            <div class="col-sm-4">
                                <label for="Fname" class="col-form-label">W2425252525</label>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="head_flt_select">
                        <div class="head_flt_select input-label" style="width: fit-content; margin: auto;">
                            <button type="submit" class="btn-close" (click)="close()">Close</button>
                        </div>
                    </div>

                </div>
            </div>
        </main>
    </div>
</section>
<app-footer></app-footer>