<section>
  <div class="container1440 mt-5">
      <main class="middle-content" style="overflow-y: scroll; height: -webkit-fill-available;">
          <div class="content-section">

              <!-- <div class="page_title_block pL0 pR0">
                  <h1 class="page_title" style="color:#26272d">VIEW USER TRADING DETAIL</h1>
              </div> -->
              <div class="order-view mt30 mrgn-0-auto">

                  <div>
                      <form [formGroup]="editForm" #f="ngForm">
                          <div class="form-group row">
                              <label for="Fname" class="col-sm-2 col-form-label">First Name</label>
                              <div class="col-sm-4">
                                  <input type="text" id="Fname" class="form-control" placeholder="First name" formControlName="firstName">
                                  <div class="text-danger">
                                    <span
                                        *ngIf="editForm.get('firstName').hasError('required') && (editForm.get('firstName').dirty || editForm.get('firstName').touched)">
                                        *Please enter first name.
                                    </span>

                                </div>
                                </div>
                              <label for="Lname" class="col-sm-2 col-form-label">Last Name</label>
                              <div class="col-sm-4">
                                  <input type="text" id="Lname" class="form-control" placeholder="Last name" formControlName="lastName">
                                  <div class="text-danger">
                                    <span
                                        *ngIf="editForm.get('lastName').hasError('required') && (editForm.get('lastName').dirty || editForm.get('lastName').touched)">
                                        *Please enter last name.
                                    </span>

                                </div>
                                </div>
                          </div>
                          <div class="form-group row">
                              <label for="Mobile" class="col-sm-2 col-form-label">Mobile No</label>
                              <div class="col-sm-4">
                                  <input type="text" id="Mobile" class="form-control"
                                      placeholder="Enter Mobile Number" formControlName="phoneNo">
                                      <div class="text-danger">
                                        <span
                                            *ngIf="editForm.get('phoneNo').hasError('required') && (editForm.get('phoneNo').dirty || editForm.get('phoneNo').touched)">
                                            *Please enter mobile number.
                                        </span>
                                        <span
                                            *ngIf="editForm.get('phoneNo').hasError('pattern') && (editForm.get('phoneNo').dirty || f.submitted)">
                                            *Please enter valid mobile number.
                                        </span>

                                    </div>
                              </div>
                              <label for="email" class="col-sm-2 col-form-label">Email ID</label>
                              <div class="col-sm-4">
                                  <input type="text" id="email" class="form-control" placeholder="Enter mail Id" formControlName="email">
                                  <div class="text-danger">
                                    <span
                                        *ngIf="editForm.get('email').hasError('required') && (editForm.get('email').dirty || editForm.get('email').touched)">
                                        *Please enter mail Id.
                                    </span>
                                    <span
                                        *ngIf="editForm.get('email').hasError('pattern') && (editForm.get('email').dirty || f.submitted)">
                                        *Please enter valid mail Id.
                                    </span>

                                </div>
                                </div>
                          </div>

                          <div class="form-group row">
                              <label for="CompanyName" class="col-sm-2 col-form-label">Company Name</label>
                              <div class="col-sm-4">
                                  <input type="text" id="CompanyName" class="form-control" placeholder="Company name" formControlName="companyName">
                                  <div class="text-danger">
                                    <span
                                        *ngIf="editForm.get('companyName').hasError('required') && (editForm.get('companyName').dirty || editForm.get('companyName').touched)">
                                        *Please enter company name.
                                    </span>

                                </div>
                                </div>
                              <label for="comanyAddress" class="col-sm-2 col-form-label">Company Address</label>
                              <div class="col-sm-4">
                                  <input type="text" id="comanyAddress" class="form-control"
                                      placeholder="Company Address" formControlName="baseLocationAddress">
                                      <div class="text-danger">
                                        <span
                                            *ngIf="editForm.get('baseLocationAddress').hasError('required') && (editForm.get('baseLocationAddress').dirty || editForm.get('baseLocationAddress').touched)">
                                            *Please enter company address.
                                        </span>

                                    </div>
                              </div>
                          </div>

                          <div class="form-group row">
                            <label for="state" class="col-sm-2 col-form-label">State</label>
                            <div class="col-sm-4">
                                <select id="city" class="form-control" formControlName="state"
                                    (change)="searchCity($event)">
                                    <option value="State">State</option>
                                    <option *ngFor="let state of stateArr" value="{{state.name}}">{{state.name}}</option>
                                </select>

                            </div>
                            <label for="city" class="col-sm-2 col-form-label">City</label>
                            <div class="col-sm-4">
                                <select id="city" class="form-control" formControlName="city">

                                  <option value="">City</option>
                                        <option *ngFor="let city of cityArr" [value]="city?.name">{{city?.name}}
                                        </option>
                                </select>
                            </div>
                        </div>
                          <div class="form-group row">
                              <label for="aadhar" class="col-sm-2 col-form-label">Aadhar No</label>
                              <div class="col-sm-4 input-group">
                                  <input type="text" id="aadhar" class="form-control" placeholder="Enter aadhar no"
                                      formControlName="aadharCardNo">
                                  <div class="input-group-append">
                                      <button class="btn" type="button"
                                          style="background-color: green;     height: 38px;     z-index: 0;">Validate</button>
                                  </div>
                                  <div class="text-danger">

                                    <span
                                        *ngIf="editForm.get('aadharCardNo').hasError('required') && (editForm.get('aadharCardNo').dirty || editForm.get('aadharCardNo').touched)">
                                        *Please Enter 12 Aadhar number.
                                    </span>
                                    <span
                                        *ngIf="editForm.get('aadharCardNo').hasError('pattern') && (editForm.get('aadharCardNo').dirty || f.submitted)">
                                        *Please enter valid Aadhar number and give a space after each four digit.
                                    </span>

                                </div>
                              </div>
                              <label for="pan" class="col-sm-2 col-form-label">Pan Card</label>
                              <div class="col-sm-4 input-group">
                                  <input type="text" id="pan" class="form-control" placeholder="Enter Pan no"
                                      formControlName="panCardNo">
                                  <div class="input-group-append">
                                      <button class="btn" type="button"
                                          style="background-color: green;     height: 38px;     z-index: 0;">Validate</button>
                                  </div>
                                  <div class="text-danger">

                                    <span
                                        *ngIf="editForm.get('panCardNo').hasError('required') && (editForm.get('panCardNo').dirty || editForm.get('panCardNo').touched)">
                                        *Please Enter 10 digit pan card number.
                                    </span>
                                    <span
                                        *ngIf="editForm.get('panCardNo').hasError('pattern') && (editForm.get('panCardNo').dirty || f.submitted)">
                                        *Please enter valid Pan number.
                                    </span>

                                </div>
                              </div>
                          </div>

                          <div class="form-group row">
                              <label class="col-sm-2 col-form-label"></label>
                              <div class="col-sm-4">
                                  <label for="AadharCard" class="btn btn-success btn-block btn-outlined">Upload Aadhar
                                      Card</label>

                                  <input type="file" id="AadharCard" accept="image/*" style="display: none"
                                      class="form-control" (change)="uploadAadhaar($event)">
                                      <img [src]="aadharCardUrl" alt="">
                              </div>
                              <label class="col-sm-2 col-form-label"></label>
                              <div class="col-sm-4">
                                  <label for="PanCard" class="btn btn-success btn-block btn-outlined">Upload Pan
                                      Card</label>
                                  <input type="file" id="PanCard" accept="image/*" style="display: none"
                                      class="form-control" (change)="uplaodPan($event)">
                                      <img [src]="panCardUrl" alt="">
                              </div>
                          </div>

                          <div class="form-group row">
                              <label for="gst" class="col-sm-2 col-form-label">GISTN No</label>
                              <div class="col-sm-4 input-group">
                                  <input type="text" id="gst" class="form-control" placeholder="Enter GISTN no"
                                      formControlName="gstinNumber">
                                  <div class="input-group-append">
                                      <button class="btn" type="button"
                                          style="background-color: green;     height: 38px;     z-index: 0;">Validate</button>
                                  </div>
                                  <div class="text-danger">

                                    <span
                                        *ngIf="editForm.get('gstinNumber').hasError('required') && (editForm.get('gstinNumber').dirty || editForm.get('gstinNumber').touched)">
                                        *Please Enter 15 digit gst number.
                                    </span>
                                    <span
                                        *ngIf="editForm.get('gstinNumber').hasError('pattern') && (editForm.get('gstinNumber').dirty || f.submitted)">
                                        *Please enter valid GST number.
                                    </span>

                                </div>
                              </div>
                          </div>
                          <div class="form-group row">
                              <label class="col-sm-2 col-form-label"></label>
                              <div class="col-sm-4">
                                  <label for="gstfile" class="btn btn-success btn-block btn-outlined">GISTN
                                      Copy</label>
                                  <input type="file" id="gstfile" accept="image/*" style="display: none"
                                      class="form-control" (change)="uplaodGst($event)">
                                      <img [src]="gstinUrl" alt="">
                              </div>
                          </div>
                      </form>
                  </div>
                  <br>
                  <div class="head_flt_select">
                      <div class="head_flt_select input-label text-center">
                          <button  type="submit" class="btn btn-theme mr-3"[routerLink]="['/list-of-supplier']">Cancel</button>
                              <button  type="submit" class="btn btn-theme" (click)="editSupplier()">Update</button>
                      </div>
                  </div>

              </div>
          </div>
      </main>
  </div>
</section>
<app-footer></app-footer>
