<section>
    <div class="container1440 mt-5">
        <main class="middle-content">
            <div class="content-section">
                <div class="outer-box">
                    <div class="global-table no-radius p0">
                        <div class="tab-content1">
                            <div class="tab-pane1">
                              <div class="row mt-5 container container-fluid" style="position: fixed;left: 38%;">
                            <form [formGroup]="resetPasswordForm">

                                <div class="form-row">
                                  <div class="col-sm-4">
                                    <select type="text" class="form-control selectBox" formControlName='UserType'>
                                      <option class="fa fa-caret-down" selected>User Type</option>
                                      <option class="fa fa-caret-down" value="SUPPLIER">SUPPLIER</option>
                                    </select>
                                  </div>
                                  <div class="col-sm-4">
                                    <input type="tel" class="form-control" placeholder="8946818143" formControlName="phoneNo" required>
                                  </div>
                                  <div class="col-sm-4">
                                    <input type="email" class="form-control" placeholder="abc@gmail.com" formControlName="emailId" required>
                                  </div>
                                </div>
                                <div class="form-row">
                                  <button class="btn btn-danger mt-5 justify-content-center"(click)="ResetPassword()" style="position: relative;left: 38%;">Reset Password</button>
                                </div>
                              </form>
                            </div>
                            <!-- <div class="row d-flex justify-content-end w_100 mt-3">
                                    <div class="col-lg-4 mt-5">
                                        <select class="selectBox">
                                            <option class="fa fa-caret-down">User Type</option>
                                        </select>
                                    </div>
                                    <div class="col-lg-4 mt-5" style="position: relative;
                                    right: 2%;">
                                        <input style="width: 100%;" class="selectBox" type="text" placeholder="Mobile No">
                                    </div>
                                    <div class="col-lg-4 mt-5">
                                        <input style="width: 100%;" class="selectBox" type="text" placeholder="Email id">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12 mt-5">
                                        <div style="width: 100px;
                                        margin: auto;">
                                            <button type="button"
                                            style="margin-left: 40%;background: black;color: white;width: 100%; height: 101%;">Save</button>
                                        </div>
                                    </div>
                                </div> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>

    </div>

</section>

<app-footer></app-footer>

<!-- <div id = "pdfcontent">
    <div class="upload-info more-content">
        <p class="up-load head-ings">USER DETAILS</p>
        <table>
            <thead>
                <tr>
                    <th >S.No</th>
                    <th >User Name</th>
                    <th >Email</th>
                    <th >User ID</th>
                    <th >Phone Number</th>
                    <th >Status</th>
                    <th >Registration Date</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of listing">
                    <td>{{item?.firstName}}{{item?.lastName}}</td>
                    <td>{{item?.email}}</td>
                    <td>{{item?.userId}}</td>
                    <td>{{item?.phoneNo}}</td>
                    <td>{{item?.userStatus}}</td>
                    <td>{{item?.createTime | date:'medium'}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div> -->



<!-- delete_modal Start -->
<div class="modal fade global-modal reset-modal" id="deleteModal">
    <div class="modal-dialog max-WT-500">
        <form class="change_password">
            <div class="modal-content">
                <div>
                    <div class="modal-body">
                        <h3 style="text-align: center;font-size: 20px; ">Delete User </h3>
                        <hr>
                        <button type="button" class="close" data-dismiss="modal"
                            style="margin-top: -85px;">&times;</button>
                        <div class="text-center modal_flax_height d-flex align-items-center justify-content-center">
                            <div class="w-100">
                                <p style="font-size: 18px;">Are you sure you want to delete this user?</p>
                                <div>
                                    <button type="submit" class="btn btn-info mr-2" (click)="deleteUser()"
                                        data-dismiss="modal"
                                        style="min-width:100px;background-color: black;">Yes</button>
                                    <button type="button" class="btn btn-danger" data-dismiss="modal"
                                        style="min-width: 100px;">No</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<!-- delete_modal End -->

<!-- block_modal Start -->
<div class="modal fade global-modal reset-modal" id="block">
    <div class="modal-dialog max-WT-500">
        <form class="change_password">
            <div class="modal-content">
                <div>
                    <div class="modal-body">
                        <h3 style="text-align: center;font-size: 20px; ">Block User </h3>

                        <!-- <h3 *ngIf="userStatus=='ACTIVE'" style="text-align: center; ">Unblock  </h3>
                        <h3  *ngIf="userStatus=='BLOCK'" style="text-align: center; ">Block  </h3> -->
                        <hr>
                        <button type="button" class="close" data-dismiss="modal"
                            style="margin-top: -85px;">&times;</button>
                        <div class="text-center modal_flax_height d-flex align-items-center justify-content-center">
                            <div class="w-100">
                                <p style="font-size: 18px;">Are you sure you want to block this user?</p>
                                <!-- <p  *ngIf="userStatus=='ACTIVE'" style="font-size: 25px;">Are you sure you want to unblock?</p>
                                <p  *ngIf="userStatus=='BLOCK'" style="font-size: 25px;">Are you sure you want to block?</p> -->
                                <div>
                                    <button type="submit" class="btn btn-info mr-2 "
                                        style="width: 25%;background-color: black;" (click)="blockUser()">Yes</button>
                                    <button type="button" class="btn btn-danger" data-dismiss="modal"
                                        style="width: 25%;">No</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<!-- active Start -->
<div class="modal fade global-modal reset-modal" id="active">
    <div class="modal-dialog max-WT-500">
        <form class="change_password">
            <div class="modal-content">
                <div>
                    <div class="modal-body">
                        <h3 style="text-align: center;font-size: 20px; ">Active User </h3>
                        <hr>
                        <button type="button" class="close" data-dismiss="modal"
                            style="margin-top: -85px;">&times;</button>
                        <div class="text-center modal_flax_height d-flex align-items-center justify-content-center">
                            <div class="w-100">
                                <p style="font-size: 18px;">Are you sure you want to active this user?</p>
                                <div>
                                    <button type="submit" class="btn btn-success mr-2"
                                        (click)="blockUser()">Yes</button>
                                    <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<!-- <body class="afterlogin bg-image" style="min-height: 717px;">
    <div class="login-wrapper ">
        <div class="container-common">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <form class="login_box_outer" [formGroup]="resetPasswordForm">
                        <div class="login-box max-WT-520">
                            <div class="login-right-block">
                                <div class="login-heading">
                                    <h4>RESET PASSWORD</h4>
                                </div>
                                <div class="login-box-body">
                                    <div class="form-group">
                                         <input type="password" class="form-control"
                                            placeholder="Password" formControlName="password" />
                                        <div *ngIf="resetPasswordForm.controls['password'].hasError('required') && resetPasswordForm.controls['password'].touched">
                                        <span class="error">*Password is required.</span> </div>

                                        </div>

                                    <div class="form-group">
                                        <input type="password" class="form-control"
                                            placeholder="Confirm Password" formControlName="confirmPassword" />
                                            <span *ngIf="resetPasswordForm.controls['confirmPassword'].hasError('required') && resetPasswordForm.controls['confirmPassword'].touched"
                                            class="error">*Confirm password is required.</span>
                                             <span class="error" *ngIf="resetPasswordForm.controls['password'].value != resetPasswordForm.controls['confirmPassword'].value && resetPasswordForm.controls['confirmPassword'].dirty">Password
                                            do not match.</span>

                                        </div>

                                    <div class="text-center form-group mt40"> <button type="submit"
                                            class="btn btn-login btn-large width100 font-100"
                                            [disabled]="!resetPasswordForm.valid || (resetPasswordForm.controls['password'].value != resetPasswordForm.controls['confirmPassword'].value)"
                                           (click)="resetPasswordFunc()" style="background: black;width: 53%;">SUBMIT</button> </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <hr />

    <footer style="background: black;">
        <div class="container-fluid">
            <p class="copyright" style="padding-right: 0%;">Copyright @ 2020 All Rights Reserved  <strong class="theme-text-color"></strong>
                </p>
        </div>
    </footer>

     -->
