<section>
    <div class="container1440 mt-5">
        <main class="middle-content" style="overflow-y: scroll; height: -webkit-fill-available;">
            <div class="content-section">

                <!-- <div class="page_title_block pL0 pR0">
                    <h1 class="page_title" style="color:#26272d">VIEW USER TRADING DETAIL</h1>
                </div> -->
                <div class="order-view mt30 mrgn-0-auto">

                    <div>
                        <form [formGroup]="addSiteForm">
                            <div class="form-group row">
                                <label for="Fname" class="col-sm-2 col-form-label">First Name</label>
                                <div class="col-sm-4">
                                    <input type="text" id="Fname" class="form-control" placeholder="First name"
                                        formControlName="firstName">
                                    <span class="error"
                                        *ngIf="addSiteForm.get('firstName').hasError('required') && (addSiteForm.get('firstName').dirty || addSiteForm.get('firstName').touched )"
                                        class="error">
                                        <p>*Please enter first name.</p>
                                    </span>
                                    <span class="error"
                                        *ngIf="addSiteForm.get('firstName').hasError('pattern') && addSiteForm.get('firstName').dirty"
                                        class="error">
                                        <p> *Please enter valid first name.</p>
                                    </span>
                                </div>
                                <label for="Lname" class="col-sm-2 col-form-label">Last Name</label>
                                <div class="col-sm-4">
                                    <input type="text" id="Lname" class="form-control" placeholder="Last name"
                                        formControlName="lastName">
                                    <span class="error"
                                        *ngIf="addSiteForm.get('lastName').hasError('required') && (addSiteForm.get('lastName').dirty || addSiteForm.get('lastName').touched )"
                                        class="error">
                                        <p>*Please enter last name.</p>
                                    </span>
                                    <span class="error"
                                        *ngIf="addSiteForm.get('lastName').hasError('pattern') && addSiteForm.get('lastName').dirty"
                                        class="error">
                                        <p> *Please enter valid Last name.</p>
                                    </span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="Mobile" class="col-sm-2 col-form-label">Mobile No</label>
                                <div class="col-sm-4">
                                    <input type="text" id="Mobile" class="form-control"
                                        placeholder="Enter mobile number" formControlName="phoneNo">
                                    <span class="error"
                                        *ngIf="addSiteForm.get('phoneNo').hasError('required') && (addSiteForm.get('phoneNo').dirty || addSiteForm.get('phoneNo').touched )"
                                        class="error">
                                        <p> *Please enter mobile number.</p>
                                    </span>
                                    <span class="error"
                                        *ngIf="addSiteForm.get('phoneNo').hasError('pattern') && addSiteForm.get('phoneNo').dirty"
                                        class="error">
                                        <p> *Please enter valid mobile number.</p>
                                    </span>
                                </div>

                                <label for="email" class="col-sm-2 col-form-label">Email ID</label>
                                <div class="col-sm-4">
                                    <input type="text" id="email" class="form-control" placeholder="Enter mail Id"
                                        formControlName="email">
                                    <span class="error">
                                        <p *ngIf="addSiteForm.get('email').hasError('required') && (addSiteForm.get('email').dirty || addSiteForm.get('email').touched )"
                                            class="error" padding>*Please enter email id.</p>
                                    </span>
                                    <span class="error">
                                        <p *ngIf="addSiteForm.get('email').hasError('pattern') && addSiteForm.get('email').dirty"
                                            class="error" padding>*Please enter valid email.</p>
                                    </span>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="CompanyName" class="col-sm-2 col-form-label">Company Name</label>
                                <div class="col-sm-4">
                                    <!-- <input type="text" id="CompanyName" class="form-control" placeholder="Company name"
                                        formControlName="companyName"> -->
                                        <select id="CompanyName" class="form-control" formControlName="companyName">
                                            <option value="companyName">Company name</option>
                                            <option *ngFor="let company of companyNameArr" value="{{company.companyId}}">{{company.companyName}}</option>
                                        </select>
                                    <!-- <span class="error">
                                        <p *ngIf="addSiteForm.get('companyName').hasError('required') && (addSiteForm.get('companyName').dirty || addSiteForm.get('companyName').touched )"
                                            class="error" padding>*Please enter company name.</p>
                                    </span> -->
                                </div>
                                <label for="comanyAddress" class="col-sm-2 col-form-label">Site Address</label>
                                <div class="col-sm-4">
                                    <input type="text" id="comanyAddress" class="form-control"
                                        placeholder="Site address" formControlName="siteAddress">
                                    <span class="error">
                                        <p *ngIf="addSiteForm.get('siteAddress').hasError('required') && (addSiteForm.get('siteAddress').dirty || addSiteForm.get('siteAddress').touched )"
                                            class="error" padding>*Please enter site address.</p>
                                    </span>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="city" class="col-sm-2 col-form-label">Site Name</label>
                                <div class="col-sm-4">
                                    <input type="text" id="CompanyName" class="form-control" placeholder="Site name"
                                        formControlName="siteName">
                                    <span class="error">
                                        <p *ngIf="addSiteForm.get('siteName').hasError('required') && (addSiteForm.get('siteName').dirty || addSiteForm.get('siteName').touched )"
                                            class="error" padding>*Please enter site name.</p>
                                    </span>
                                </div>
                                <label for="state" class="col-sm-2 col-form-label">State</label>
                                <div class="col-sm-4">
                                    <select id="city" class="form-control" formControlName="state"
                                    (change)="searchCity($event)">
                                    <option value="State">State</option>
                                    <option *ngFor="let state of stateArr">{{state.name}}</option>
                                </select>

                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="city" class="col-sm-2 col-form-label">City</label>
                                <select id="city" class="form-control" formControlName="city">
                                    <option value="city">City</option>
                                    <option *ngFor="let city of cityArr">{{city.name}}</option>
                                </select>

                                <label for="gst" class="col-sm-2 col-form-label">GISTN No</label>
                                <div class="col-sm-4 input-group">
                                    <input type="text" id="gst" class="form-control" placeholder="Enter GISTN no"
                                        style="border: 1px solid;" formControlName="gstNo" maxlength="16">
                                    <div class="input-group-append">
                                        <button class="btn" type="button"
                                            style="background-color: green;">Validate</button>
                                    </div>
                                    <span class="error">
                                        <p *ngIf="addSiteForm.get('gstNo').hasError('required') && (addSiteForm.get('gstNo').dirty || addSiteForm.get('gstNo').touched )"
                                            class="error" padding>*Please enter GSTIN number.</p>
                                    </span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-6"></div>
                                <label class="col-sm-2 col-form-label"></label>
                                <div class="col-sm-4">
                                    <label for="gstfile" class="btn btn-success btn-block btn-outlined">GISTN
                                        Copy</label>
                                        <input type="file" id="gstfile" accept=".png, .jpg, .jpeg" style="display: none"
                                        class="form-control" (change)="uploadGst($event)">
                                        <img [src]="gstimageUrl" alt=""> 
                                </div>
                            </div>
                        </form>
                    </div>
                    <br>
                    <div class="head_flt_select">
                        <div class="head_flt_select input-label" style="margin-left: 1%">
                            <button type="submit" class="btn btn-theme"
                                style="width: 15%;margin-left: 40%;margin-bottom: 3%;"
                                (click)="addSite()">Save</button>
                        </div>
                    </div>

                </div>
            </div>
        </main>
    </div>
</section>
<app-footer></app-footer>