<!-- <div class="container">
    <img src="/assets/img/toolbar.png" style="margin-left: 30%;
    margin-top: 9%;
    width: 69%;"><br>
    <textarea style="left: 36%;
    width: 50%;
    bottom: 13%;
    position: absolute;
    height: 37%;"></textarea><br><br>
    
        <button type="button" style="background-color: black;color: white;width:10%;position: relative;left:76%" class="mt-2">Edit</button>
        <button type="button" style="background-color: black;color: white;width:10%;position: relative;left:78%" class="ml-2 mt-2">Save</button>
    
    
</div>
        
   -->
   <section>
    <div class="container1440 mt-5" >
    <main class="middle-content">
        <div class="content-section">
            <div class="outer-box">
                <div class="global-table no-radius p0">
                    <div class="tab-content1">
                        <div class="tab-pane1">
                            
                            <img src="/assets/img/toolbar.png" style="margin-left: 14%;
    margin-top: 9%;
    width: 69%;"><br>
    <textarea style="position: relative;
    bottom: 187px;
    width: 68%;
    left: 15%;
    height: 149px;"></textarea>
    
        <button type="button" style="position: absolute;
        background: black;
        color: white;
        width: 9%;
        right: 27%;
        height: 33px;">Edit</button>
        <button type="button" style="position: absolute;
        left: 75%;
        width: 9%;
        background: black;
        color: white;
        height: 33px;">Save</button>
    
                       

                        </div>
                    </div>
                </div>
            </div>
        </div>    
    </main>
    
    </div>

</section>

<app-footer></app-footer>

