<section>
    <div class="container1440 mt-5">
        <main class="middle-content" style="overflow-y: scroll; height: -webkit-fill-available;">
            <div class="content-section">

                <!-- <div class="page_title_block pL0 pR0">
                    <h1 class="page_title" style="color:#26272d">VIEW USER TRADING DETAIL</h1>
                </div> -->
                <div class="order-view mt30 mrgn-0-auto">

                    <div>
                        <form [formGroup]="viewSiteForm">
                            <div class="form-group row">
                                <label for="Fname" class="col-sm-2 col-form-label">Company Name</label>
                                <div class="col-sm-4">
                                    <input type="text" id="Fname" class="form-control" placeholder="Company name"
                                        formControlName="companyName" disabled>
                                    <!-- <span class="error"
                                        *ngIf="addSiteForm.get('firstName').hasError('required') && (addSiteForm.get('firstName').dirty || addSiteForm.get('firstName').touched )"
                                        class="error">
                                        <p>*Please enter first name.</p>
                                    </span>
                                    <span class="error"
                                        *ngIf="addSiteForm.get('firstName').hasError('pattern') && addSiteForm.get('firstName').dirty"
                                        class="error">
                                        <p> *Please enter valid first name.</p>
                                    </span> -->
                                </div>
                                <label for="Lname" class="col-sm-2 col-form-label">Address</label>
                                <div class="col-sm-4">
                                    <input type="text" id="Lname" class="form-control" placeholder="Address"
                                        formControlName="address" disabled>
                                    <!-- <span class="error"
                                        *ngIf="addSiteForm.get('lastName').hasError('required') && (addSiteForm.get('lastName').dirty || addSiteForm.get('lastName').touched )"
                                        class="error">
                                        <p>*Please enter last name.</p>
                                    </span>
                                    <span class="error"
                                        *ngIf="addSiteForm.get('lastName').hasError('pattern') && addSiteForm.get('lastName').dirty"
                                        class="error">
                                        <p> *Please enter valid Last name.</p>
                                    </span> -->
                                </div>
                            </div>
                           

                           

                            <div class="form-group row">
                               
                                <label for="city" class="col-sm-2 col-form-label">City</label>
                                <div class="col-sm-4">
                                <input type="text" id="city" class="form-control"
                                placeholder="City" formControlName="city" disabled>
                            </div>
                                <label for="state" class="col-sm-2 col-form-label">State</label>
                                <div class="col-sm-4">
                                    <!-- <select id="city" class="form-control" formControlName="state"
                                    (change)="searchCity($event)">
                                    <option value="State">State</option>
                                    <option *ngFor="let state of stateArr">{{state.name}}</option>
                                </select> -->
                                <input type="text" id="state" class="form-control"
                                placeholder="State" formControlName="state" disabled>

                                </div>
                            </div>

                            <div class="form-group row">
                                <!-- <label for="city" class="col-sm-2 col-form-label">Date Of Creation</label>
                               
                                <input type="text" id="city" class="form-control"
                                 formControlName="dateOfCreation" disabled> -->

                                <label for="gst" class="col-sm-2 col-form-label">GISTN No</label>
                                <div class="col-sm-4 ">
                                    <input type="text" id="gst" class="form-control" placeholder="Enter GISTN no"
                                        style="border: 1px solid;" formControlName="gstNo" maxlength="16" disabled>
                                    <!-- <div class="input-group-append">
                                        <button class="btn" type="button"
                                            style="background-color: green;">Validate</button>
                                    </div> -->
                                    <!-- <span class="error">
                                        <p *ngIf="addSiteForm.get('gstNo').hasError('required') && (addSiteForm.get('gstNo').dirty || addSiteForm.get('gstNo').touched )"
                                            class="error" padding>*Please enter GSTIN number.</p>
                                    </span> -->
                                </div>
                                <label for="gst" class="col-sm-2 col-form-label">Email</label>
                                <div class="col-sm-4 ">
                                    <input type="text" id="gst" class="form-control" placeholder="Email"
                                        style="border: 1px solid;" formControlName="email"  disabled>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-6"></div>
                                <label class="col-sm-2 col-form-label"></label>
                                <!-- <div class="col-sm-4">
                                    <label for="gstfile" class="btn btn-success btn-block btn-outlined">GISTN
                                        Copy</label>
                                        <input type="file" id="gstfile" accept=".png, .jpg, .jpeg" style="display: none"
                                        class="form-control" (change)="uploadGst($event)">
                                        <img [src]="gstimageUrl" alt=""> 
                                </div> -->
                                <div class="col-sm-4">
                                    <img [src]="gstimageUrl" alt=""> 
                                </div>
                            </div>
                        </form>
                    </div>
                    <br>
                    <div class="head_flt_select">
                        <div class="head_flt_select input-label" >
                            <button type="submit" class="btn btn-theme mr-3" (click)="back()">Back</button>
                            <button type="submit" class="btn btn-theme" (click)="edit()">Edit</button>
                        </div>
                    </div>

                </div>
            </div>
        </main>
    </div>
</section>
<app-footer></app-footer>