<section>
<div class="container1440 mt-5">
<main class="middle-content">
    <div class="page_title_block">
        <h1 class="page_title" style="color:#26272d">KYC UPDATE</h1>
    </div>
    <div class="content-section">
        <div class="outer-box">
            <div class="global-table no-radius p0">
                <div class="tab-content1">
                    <div class="tab-pane1">
                        
                        <div class="user-main-head" style="height:83px">
                            <p style="margin-top: -2%;">Filter By</p>
                            <form [formGroup]="kycForm">
                                <div class="row form-group">
                                    <div class="col-md-4"style="padding-top: 1%;">
                                          <label for="" style=" font-size: 15px;">Status:</label>
                                            
                                            
                                                <select formControlName="status" class="form-control" style="position: absolute;
                                                top: 2px;
                                                margin-left: 48px;
                                                width: 202px;">
                                                    <option value="">Select status</option>
                                                    <option value="PENDING">PENDING</option>
                                                    <option value="ACCEPTED">ACCEPTED</option>
                                                    <option value="REJECTED">REJECTED</option>
                                                </select>
                                            </div>

                                            <div class="col-md-4 user-lst"  >
                                                <div class="two-btnline">
                                                    <label for="" style="padding-top:4%;font-size: 15px;">Username:</label>
                                                    <div class="text-left" style="margin-left: 2%;margin-top: 2px;" >
                                                        <input type="text" placeholder="Username" class="form-control"
                                                        formControlName="userName" > 
                                                    </div>
                                                </div>
                                            </div>
                                            
                                        
                                    <!-- <div class="col-md-2 user-lst"  >
                                        <div class="two-btnline">
                                            <div class="text-left" style="margin-left: 1%" (click)="search()">
                                                <button type="submit"  class="btn  btn-theme cus-mr" style="margin-top: 10%" >SEARCH</button>
                                            </div>
                                        </div>
                                    </div> -->

                                    <div class="col-md-2 user-lst"  >
                                            <div  style="margin-top: -3px;
                                             margin-left: 40%;">
                                                <div class="text-left" style="margin-left: 1%" (click)="search()">
                                                    <button type="submit"  class="btn  btn-theme cus-mr" style="margin-top: 5%" >SUBMIT</button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-2 user-lst"  >
                                            <div  style="margin-top: -3px;">
                                                <div class="text-left" style="margin-left: 1%" (click)="reset()">
                                                    <button type="submit"  class="btn  btn-theme cus-mr" style="margin-top: 5%" >RESET</button>
                                                </div>
                                            </div>
                                        </div>
                                </div>
                                
                            </form>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-bordered" aria-describedby="user list">
                                <thead>
                                    <tr class="no_wrap_th">
                                        <th scope="col">S.No</th>
                                        <th scope="col">Username</th>
                                        <th scope="col">KYC Submision Date</th>
                                         <th scope="col">Document ID</th>
                                        <th scope="col">Status</th>
                                        <th scope="col" class="action_td_btn3">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of kycList  | paginate : {itemsPerPage: itemsPerPage,
                                        currentPage: pageNumber,
                                        totalItems: totalRecords };let i = index">
                                        <td>{{i+1}}</td>
                                        <td>{{item?.firstName}}  {{item?.lastName}}</td>
                                        <td>{{item?.createTime | date}}</td>
                                        <td>{{item?.kycId}}</td>
                                        <td>{{item?.kycStatus}}</td>
                                        <td class="action_td_btn3" style="cursor: pointer;" >
                                            <a><em class="fa fa-eye"  style="font-size: 20px;" (click)="view(item?.userId)"></em></a>
                                        </td>
                                    </tr>
                                    

                                     <tr *ngIf="kycList?.length==0">
                                         <td colspan="13" vertical-align="middle">
                                            <div class="no-record">
                                                <div class="no-recordin">
                                                    <H5 style="margin-left: 44%;">No record found</H5>
                                                </div>
                                            </div>
                                        </td>
                                    </tr> 
                                </tbody>
                            </table>
                        </div>
                        <div class="custom-pagination mt20 " style="display: flex; justify-content:flex-end" *ngIf="kycList?.length" >
                            <pagination-controls (pageChange)="pagination($event)"></pagination-controls>
                        </div>                   
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
</div>
</section>
<app-footer></app-footer>

<!-- <footer style="background: black;">
    <div class="container-fluid">
        <p class="copyright">Copyright @ 2020 All Rights Reserved<strong class="theme-text-color"></strong> 
            </p>
    </div>
</footer> -->

