/* You can add global styles to this file, and also import other style files */
img.lg-logo1 {
    display: none;
}
body.body-class.toggle-wrapper img.lg-logo {
    display: none;
}
body.body-class.toggle-wrapper img.lg-logo1 {
    display: block;
}
td.action_td_btn3 {
    text-align: center;
}
.create-subadmin {
    width: 100%;
    min-width: 150px;
}

.search-btn {
    background-color: #808080;
    color: white;
    width: 100px;
    border-radius: 7px;
    border: none;
    margin-left: 2px;
    cursor: pointer;
}

.mt-5 {
    margin-top: 4rem !important;
}

.btn-close {
    background-color: #808080;
    color: white;
    width: 100px;
    border-radius: 7px;
    border: none;
    margin-left: 2px;
    cursor: pointer;
}

.btn-add {
    background-color: #008000;
    color: white;
    width: 100px;
    border-radius: 7px;
    border: none;
    margin-left: 2px;
    cursor: pointer;
}

tr:nth-child(even) {
    background-color: #dfdfdf;
}

.btn-validate {
    background-color: #008000;
    color: white;
    width: 100px;
    border-radius: 7px;
    border: none;
    margin-left: 2px;
    cursor: pointer;
}

.btn-reject {
    background-color: #800b00;
    color: white;
    width: 100px;
    border-radius: 7px;
    border: none;
    margin-left: 2px;
    cursor: pointer;
}

/* search filter input fields */
.input-field {
    width: 100%;
    border-radius: 7px;
    border: 1px solid #aaaaaa;
}
input.form-control.input-field {
    border: 1px solid #aaaaaa;
}
select.selectBox.form-control {
    border: 1px solid #aaaaaa;
}
