<section>
<div class="container1440 mt-5">
<main class="middle-content">
    <div class="page_title_block">
        <h1 class="page_title" style="color:#26272d">USER MANAGEMENT ADMIN</h1>
    </div>
    <div class="content-section">
        <div class="outer-box">
            <div class="global-table no-radius p0">
                <div class="tab-content1">
                    <div class="tab-pane1">
                        <div class="user-main-head">
                            <p
                                style="margin-top: -2%;font-size: 15px;background-color: white; width: 10%; padding-left: 1%;">
                                Filter By</p>
                            <form [formGroup]="adminForm">

                                <div class="row form-group">
                                    <div class="col-md-4 ">
                                        <div class="head_flt_select">
                                            <div class="head_flt_select input-label input-label1">

                                                <span class="d-flex align-items-center" style="padding-left: 10px;
                                                    position: relative;
                                                    top: 7px; font-size: 15px;">Registration
                                                    Date&nbsp;&nbsp;From:</span>

                                                <input type="datetime-local" class="form-control" formControlName="startdate" placeholder="DD/YY/YY"
                                                (change)="onFromChangeDate()" min="" max={{maxFromDate}} [(ngModel)]="fromDate" 
                                                    style="width: 161px;
                                                margin-top: -20px;
                                                margin-left: 58%;">
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-md-3">

                                        <div class="head_flt_select">
                                            <div class="head_flt_select input-label input-label1">
                                                <span class="d-flex align-items-center" style="margin-left: 19px!important;
                                                float: left;
                                                margin-top: 8px;">To:</span>
                                                <input type="datetime-local" class="form-control" formControlName="enddate" (change)="onToChangeDate()" min={{minToDate}}  max={{maxToDate}} [(ngModel)]="toDate" 
                                                    style="width: 161px;margin-top: 2px;">
                                            </div>
                                        </div>

                                    </div>


                                    <div class="col-md-3">
                                        <div class="serch-boxuser">
                                            <div class="input-group filter_search_group">
                                                <input type="text" class="form-control" placeholder="Search"
                                                    formControlName="searchText" style="margin-top: 2px;">
                                                <div class="input-group-append">
                                                    <button class="btn btn_search_group" type="button"><img
                                                            src="assets/img/icon-search.png" alt="Search"></button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-2 user-lst">
                                        <div class="two-btnline" style="margin-top: 5px;">
                                            <div class="text-left" style="margin-left: 1%">
                                                <button type="submit" class="btn  btn-theme cus-mr"
                                                    (click)="search()">SEARCH</button>
                                            </div>
                                            <div class="head_flt_select">
                                                <div class="head_flt_select input-label" style="margin-left: 1%">
                                                    <button type="submit" class="btn  btn-theme"
                                                        (click)="resetForm()">RESET </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </form>
                        </div>

                        <div class="row form-group"
                            style="display: flex; justify-content: flex-end;margin-top: -11px; ">
                            <label style="margin-top: 8px;font-size: 15px;">Show:</label>
                            <select (change)="showList($event.target.value)" [value]="itemsPerPage" class="form-control"
                                style="height: 36px;width: 74px;margin-right:57px;">
                                <option value="">Select</option>
                                <option value="5">5</option>
                                <option value="10">10</option>
                                <option value="15">15</option>
                                <option value="20">20</option>
                            </select>
                            <a routerLink="/add-administator" style="margin-right: 18px;"><i class="fa fa-user-plus"
                                    aria-hidden="true"
                                    style=" color: black;margin-left: -113%;font-size: 25px;margin-top: 8px;"></i></a>

                        </div>
                        <div class="table-responsive">
                            <table class="table table-bordered" aria-describedby="user list">
                                <thead>
                                    <tr>
                                        <th scope="col">ID</th>
                                        <th scope="col">Name</th>
                                        <th scope="col">Email</th>
                                        <th scope="col">Role</th>
                                        <th scope="col">Phone Number</th>
                                        <th scope="col">Status</th>
                                        <th scope="col">Last Logged In</th>
                                        <th scope="col" class="action_td_btn3">Action</th>
                                    </tr>
                                </thead>
                                <tbody style="font-size: 15px;">
                                    <tr
                                        *ngFor="let item of userAdminData  | paginate : {itemsPerPage: itemsPerPage,
                                            currentPage: pageNumber,
                                            totalItems: totalRecords };let i = index">
                                        <td scope="col">{{i+1}}</td>
                                        <td scope="col">{{item?.firstName}} {{item?.lastName}}</td>
                                        <td scope="col">{{item?.email}}</td>
                                        <td scope="col">{{item?.role}}</td>
                                        <td scope="col">{{item?.phoneNo}}</td>
                                        <td scope="col" style="color:green">{{item?.userStatus}}</td>
                                        <td scope="col">{{item?.updatedTime | date:'medium'}}</td>
                                        <td scope="col" class="action_td_btn3" style="cursor: pointer;"> <a
                                                (click)="viewAdmin(item?.userId)"><em class="fa fa-eye"></em></a>
                                            <a><i class="fa fa-trash" aria-hidden="true" (click)="delete(item?.userId)"></i></a>
                                            <a *ngIf="item?.userStatus == 'ACTIVE'"><i class="fa fa-ban"  aria-hidden="true"
                                                    (click)="block('BLOCK',item?.userId)"  style="color: green;"></i></a>
                                            <a *ngIf="item?.userStatus == 'BLOCK'" ><i class="fa fa-ban"  aria-hidden="true"
                                                    (click)="block('ACTIVE',item?.userId)"></i></a></td>
                                    </tr>
                                 </tbody>
                                 <tbody *ngIf="userAdminData?.length==0">
                                    <tr >
                                        <td colspan="13" vertical-align="middle">
                                            <div class="no-record">
                                                <div class="no-recordin">
                                                    <H5 style="margin-left: 44%;">No record found</H5>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <div class="custom-pagination mt20 " style="display: flex; justify-content:flex-end" *ngIf="userAdminData?.length" >
                            <pagination-controls (pageChange)="pagination($event)"></pagination-controls>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
</div>
</section>

<!-- <footer style="background-color: black;">
    <div >
        <p class="copyright"> 
            Copyright @ 2020 All Rights Reserved  <strong class="theme-text-color"></strong> 
            </p>
    </div>
</footer> -->

<app-footer></app-footer>

<!-- delete_modal Start -->
<div class="modal fade global-modal reset-modal" id="deleteModal">
    <div class="modal-dialog max-WT-500">
        <form class="change_password">
            <div class="modal-content">
                <div>
                    <div class="modal-body">
                        <h3 style="text-align: center;font-size: 20px;">Delete Admin </h3>
                        <hr>
                        <button type="button" class="close" data-dismiss="modal"
                            style="margin-top: -85px;">&times;</button>
                        <div class="text-center modal_flax_height d-flex align-items-center justify-content-center">
                            <div class="w-100">
                                <p style="font-size: 18px;">Are you sure you want to delete this Admin?</p>
                                <div>
                                    <button type="submit" class="btn btn-info mr-2 " (click)="deleteUser()"
                                        style="width: 25%;background-color: black !important;">Yes</button>
                                    <button type="button" class="btn btn-danger" data-dismiss="modal"
                                        style="width: 25%;background-color: black !important;">No</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<!-- delete_modal End -->

<!-- block_modal Start -->
<div class="modal fade global-modal reset-modal" id="block">
    <div class="modal-dialog max-WT-500">
        <form class="change_password">
            <div class="modal-content">
                <div>
                    <div class="modal-body">
                        <!-- <h3 *ngIf="userStatus=='ACTIVE'" style="text-align: center; ">Unblock  </h3>
                        <h3  *ngIf="userStatus=='BLOCK'" style="text-align: center; ">Block  </h3> -->
                        <h3 style="text-align: center; font-size: 20px;" *ngIf="userStatus == 'BLOCK'">Block Admin</h3>
                        <h3 style="text-align: center; font-size: 20px;" *ngIf="userStatus == 'ACTIVE'">Unblock Admin</h3>
                        <hr>
                        <button type="button" class="close" data-dismiss="modal"
                            style="margin-top: -85px;">&times;</button>
                        <button type="button" class="close" data-dismiss="modal"
                            style="margin-top: -85px;">&times;</button>
                        <div class="text-center modal_flax_height d-flex align-items-center justify-content-center">
                            <div class="w-100">
                                <p style="font-size: 18px;"  *ngIf="userStatus == 'BLOCK'">Are you sure you want to block this Admin?</p>
                                <p  style="font-size: 25px;"  *ngIf="userStatus =='ACTIVE'">Are you sure you want to Unblock this Admin?</p>
                                <div>
                                    <button type="submit" class="btn btn-info mr-2 " (click)="blockUser()"
                                        style="width: 25%;background-color: black !important;">Yes</button>
                                    <button type="button" class="btn btn-danger" data-dismiss="modal"
                                        style="width: 25%;background-color: black !important;">No</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>